@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DD Wine and Mart </h1>
    <p>We make your shoping a delight by making sure we satisfy your needs.</p>
</div>
 
